{
    "openapi": "3.1.0",
    "info": {
      "title": "The Plaid API",
      "description": "The Plaid REST API. Please see https://plaid.com/docs/api for more details.",
      "contact": {
        "name": "Plaid Developer Team",
        "url": "https://plaid.com"
      },
      "version": "1.58.1"
    },
    "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
    "servers": [
      {
        "url": "https://production.plaid.com",
        "description": "Production",
        "variables": {}
      },
      {
        "url": "https://development.plaid.com",
        "description": "Development",
        "variables": {}
      },
      {
        "url": "https://sandbox.plaid.com",
        "description": "Sandbox",
        "variables": {}
      }
    ],
    "paths": {
      "/link/token/create": {
        "post": {
          "tags": [
            "plaid",
            "token"
          ],
          "summary": "linkTokenCreate",
          "description": "The `/link/token/create` endpoint creates a `link_token`, which is required as a parameter when initializing Link. Once Link has been initialized, it returns a `public_token`, which can then be exchanged for an `access_token` via `/item/public_token/exchange` as part of the main Link flow.\n\nA `link_token` generated by `/link/token/create` is also used to initialize other Link flows, such as the update mode flow for tokens with expired credentials, or the Payment Initiation (Europe) flow.",
          "externalDocs": {
            "url": "/api/tokens/#linktokencreate"
          },
          "operationId": "linkTokenCreate",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkTokenCreateRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/LinkTokenCreateResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/link/token/get": {
        "post": {
          "tags": [
            "plaid",
            "token"
          ],
          "summary": "linkTokenGet",
          "description": "The `/link/token/get` endpoint gets information about a previously-created `link_token` using the\n`/link/token/create` endpoint. It can be useful for debugging purposes.",
          "externalDocs": {
            "url": "/api/tokens/#linktokenget"
          },
          "operationId": "linkTokenGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkTokenGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/LinkTokenGetResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/item/public_token/exchange": {
        "post": {
          "tags": [
            "plaid",
            "item"
          ],
          "summary": "itemPublicTokenExchange",
          "description": "Exchange a Link `public_token` for an API `access_token`. Link hands off the `public_token` client-side via the `onSuccess` callback once a user has successfully created an Item. The `public_token` is ephemeral and expires after 30 minutes.\n\nThe response also includes an `item_id` that should be stored with the `access_token`. The `item_id` is used to identify an Item in a webhook. The `item_id` can also be retrieved by making an `/item/get` request.",
          "externalDocs": {
            "url": "/api/tokens/#itempublic_tokenexchange"
          },
          "operationId": "itemPublicTokenExchange",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemPublicTokenExchangeRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ItemPublicTokenExchangeResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/item/import": {
        "post": {
          "tags": [
            "plaid",
            "item"
          ],
          "summary": "itemImport",
          "description": "`/item/import` creates an Item via your Plaid Exchange Integration and returns an `access_token`. As part of an `/item/import` request, you will include a User ID (`user_auth.user_id`) and Authentication Token (`user_auth.auth_token`) that enable data aggregation through your Plaid Exchange API endpoints. These authentication principals are to be chosen by you.\n\nUpon creating an Item via `/item/import`, Plaid will automatically begin an extraction of that Item through the Plaid Exchange infrastructure you have already integrated. This will automatically generate the Plaid native account ID for the account the user will switch their direct deposit to (`target_account_id`).",
          "operationId": "itemImport",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemImportRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ItemImportResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/item/get": {
        "post": {
          "tags": [
            "plaid",
            "item"
          ],
          "summary": "itemGet",
          "description": "Returns information about the status of an Item.",
          "externalDocs": {
            "url": "/api/items/#itemget"
          },
          "operationId": "itemGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "success",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ItemGetResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/item/access_token/invalidate": {
        "post": {
          "tags": [
            "plaid",
            "item"
          ],
          "summary": "itemAccessTokenInvalidate",
          "description": "By default, the `access_token` associated with an Item does not expire and should be stored in a persistent, secure manner.\n\nYou can use the `/item/access_token/invalidate` endpoint to rotate the `access_token` associated with an Item. The endpoint returns a new `access_token` and immediately invalidates the previous `access_token`.\n",
          "externalDocs": {
            "url": "/api/tokens/#itemaccess_tokeninvalidate"
          },
          "operationId": "itemAccessTokenInvalidate",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemAccessTokenInvalidateRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ItemAccessTokenInvalidateResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/item/remove": {
        "post": {
          "tags": [
            "plaid",
            "item"
          ],
          "summary": "itemRemove",
          "description": "The `/item/remove`  endpoint allows you to remove an Item. Once removed, the `access_token`  associated with the Item is no longer valid and cannot be used to access any data that was associated with the Item.",
          "externalDocs": {
            "url": "/api/items/#itemremove"
          },
          "operationId": "itemRemove",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemRemoveRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "success",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ItemRemoveResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/item/application/scopes/update": {
        "post": {
          "tags": [
            "plaid",
            "item"
          ],
          "summary": "itemApplicationScopesUpdate",
          "description": "Enable consumers to update product access on selected accounts for an application.",
          "operationId": "itemApplicationScopesUpdate",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemApplicationScopesUpdateRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "success",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ItemApplicationScopesUpdateResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/item/application/list": {
        "post": {
          "tags": [
            "plaid",
            "item"
          ],
          "summary": "itemApplicationList",
          "description": "List a user’s connected applications",
          "operationId": "itemApplicationList",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemApplicationListRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ItemApplicationListResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/processor/auth/get": {
        "post": {
          "tags": [
            "plaid",
            "processor"
          ],
          "summary": "processorAuthGet",
          "description": "The `/processor/auth/get` endpoint returns the bank account and bank identification number (such as the routing number, for US accounts), for a checking or savings account that''s associated with a given `processor_token`. The endpoint also returns high-level account data and balances when available. \n",
          "externalDocs": {
            "url": "/api/processors/#processorauthget"
          },
          "operationId": "processorAuthGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessorAuthGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "success",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProcessorAuthGetResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/processor/identity/get": {
        "post": {
          "tags": [
            "plaid",
            "processor"
          ],
          "summary": "processorIdentityGet",
          "description": "The `/processor/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses.",
          "externalDocs": {
            "url": "/api/processors/#processoridentityget"
          },
          "operationId": "processorIdentityGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessorIdentityGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProcessorIdentityGetResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/processor/balance/get": {
        "post": {
          "tags": [
            "plaid",
            "processor"
          ],
          "summary": "processorBalanceGet",
          "description": "The `/processor/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints may return a balance object, only `/processor/balance/get` forces the available and current balance fields to be refreshed rather than cached. ",
          "externalDocs": {
            "url": "/api/processors/#processorbalanceget"
          },
          "operationId": "processorBalanceGet",
          "parameters": [],
          "requestBody": {
            "description": "The `/processor/balance/get` endpoint returns the real-time balance for the account associated with a given `processor_token`.\n\nThe current balance is the total amount of funds in the account. The available balance is the current balance less any outstanding holds or debits that have not yet posted to the account.\n\nNote that not all institutions calculate the available balance. In the event that available balance is unavailable from the institution, Plaid will return an available balance value of `null`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessorBalanceGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProcessorBalanceGetResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/processor/token/create": {
        "post": {
          "tags": [
            "plaid",
            "processor"
          ],
          "summary": "processorTokenCreate",
          "description": "Used to create a token suitable for sending to one of Plaid's partners to enable integrations. Note that Stripe partnerships use bank account tokens instead; see `/processor/stripe/bank_account_token/create` for creating tokens for use with Stripe integrations.",
          "externalDocs": {
            "url": "/api/processors/#processortokencreate"
          },
          "operationId": "processorTokenCreate",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessorTokenCreateRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProcessorTokenCreateResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/processor/stripe/bank_account_token/create": {
        "post": {
          "tags": [
            "plaid",
            "processor"
          ],
          "summary": "processorStripeBankAccountTokenCreate",
          "description": "Used to create a token suitable for sending to Stripe to enable Plaid-Stripe integrations. For a detailed guide on integrating Stripe, see [Add Stripe to your app](https://plaid.com/docs/auth/partnerships/stripe/).",
          "externalDocs": {
            "url": "/api/processors/#processorstripebank_account_tokencreate"
          },
          "operationId": "processorStripeBankAccountTokenCreate",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessorStripeBankAccountTokenCreateRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProcessorStripeBankAccountTokenCreateResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/accounts/get": {
        "post": {
          "tags": [
            "plaid",
            "accounts"
          ],
          "summary": "accountsGet",
          "description": "The `/accounts/get`  endpoint can be used to retrieve information for any linked Item. Note that some information is nullable. Plaid will only return active bank accounts, i.e. accounts that are not closed and are capable of carrying a balance.\n\nThis endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use `/accounts/balance/get` instead.",
          "externalDocs": {
            "url": "/api/accounts/#accountsget"
          },
          "operationId": "accountsGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "success",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccountsGetResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/accounts/balance/get": {
        "post": {
          "tags": [
            "plaid",
            "accounts"
          ],
          "summary": "accountsBalanceGet",
          "description": "The `/accounts/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints may return a balance object, only `/accounts/balance/get` forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, `balance` itself is not a product that can be used to initialize Link.",
          "externalDocs": {
            "url": "/api/products/#accountsbalanceget"
          },
          "operationId": "accountsBalanceGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsBalanceGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccountsGetResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/institutions/get_by_id": {
        "post": {
          "tags": [
            "plaid",
            "institutions"
          ],
          "summary": "institutionsGetById",
          "description": "Returns a JSON response containing details on a specified financial institution currently supported by Plaid. \n\nVersioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` to authenticate to this endpoint. The `public_key` has been deprecated; all customers are encouraged to use `client_id` and `secret` instead.\n",
          "externalDocs": {
            "url": "/api/institutions/#institutionsget_by_id"
          },
          "operationId": "institutionsGetById",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionsGetByIdRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstitutionsGetByIdResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/institutions/get": {
        "post": {
          "tags": [
            "plaid",
            "institutions"
          ],
          "summary": "institutionsGet",
          "description": "Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.\n\nIf there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.",
          "externalDocs": {
            "url": "/api/institutions/#institutionsget"
          },
          "operationId": "institutionsGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionsGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstitutionsGetResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/institutions/search": {
        "post": {
          "tags": [
            "plaid",
            "institutions"
          ],
          "summary": "institutionsSearch",
          "description": "Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.\n\nVersioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` parameters to authenticate to this endpoint. The `public_key` parameter has since been deprecated; all customers are encouraged to use `client_id` and `secret` instead.\n",
          "externalDocs": {
            "url": "/api/institutions/#institutionssearch"
          },
          "operationId": "institutionsSearch",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionsSearchRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstitutionsSearchResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/auth/get": {
        "post": {
          "tags": [
            "plaid",
            "auth"
          ],
          "summary": "authGet",
          "description": "The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.\n\nNote: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.\n\nAlso note that `/auth/get` will not return data for any new accounts opened after the Item was created. To obtain data for new accounts, create a new Item.\n\nVersioning note: In API version 2017-03-08, the schema of the `numbers` object returned by this endpoint is substantially different. For details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2018-05-22).",
          "externalDocs": {
            "url": "/api/products/#authget"
          },
          "operationId": "authGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "success",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AuthGetResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Default error",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/identity/get": {
        "post": {
          "tags": [
            "plaid",
            "identity"
          ],
          "summary": "identityGet",
          "description": "The `/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses. Only name data is guaranteed to be returned; other fields will be empty arrays if not provided by the institution.\n\nNote: This request may take some time to complete if identity was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.",
          "externalDocs": {
            "url": "/api/products/#identityget"
          },
          "operationId": "identityGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IdentityGetResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/transactions/get": {
        "post": {
          "tags": [
            "plaid",
            "transactions"
          ],
          "summary": "transactionsGet",
          "description": "The `/transactions/get` endpoint allows developers to receive user-authorized transaction data for credit, depository, and some loan-type accounts (only those with account subtype `student`; coverage may be limited). For transaction history from investments accounts, use the [Investments endpoint](https://plaid.com/docs/api/products#investments) instead. Transaction data is standardized across financial institutions, and in many cases transactions are linked to a clean name, entity type, location, and category. Similarly, account data is standardized and returned with a clean name, number, balance, and other meta information where available.\n\nTransactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.  Transactions are not immutable and can also be removed altogether by the institution; a removed transaction will no longer appear in `/transactions/get`.  For more details, see [Pending and posted transactions](https://plaid.com/docs/transactions/transactions-data/#pending-and-posted-transactions).\n\nDue to the potentially large number of transactions associated with an Item, results are paginated. Manipulate the `count` and `offset` parameters in conjunction with the `total_transactions` response body field to fetch all available transactions.\n\nData returned by `/transactions/get` will be the data available for the Item as of the most recent successful check for new transactions. Plaid typically checks for new data multiple times a day, but these checks may occur less frequently, such as once a day, depending on the institution. An Item's `status.transactions.last_successful_update` field will show the timestamp of the most recent successful update. To force Plaid to check for new transactions, you can use the `/transactions/refresh` endpoint.\n\nNote that data may not be immediately available to `/transactions/get`. Plaid will begin to prepare transactions data upon Item link, if Link was initialized with `transactions`, or upon the first call to `/transactions/get`, if it wasn't. To be alerted when transaction data is ready to be fetched, listen for the [`INITIAL_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-initial_update) and [`HISTORICAL_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-historical_update) webhooks. If no transaction history is ready when `/transactions/get` is called, it will return a `PRODUCT_NOT_READY` error.",
          "externalDocs": {
            "url": "/api/products/#transactionsget"
          },
          "operationId": "transactionsGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransactionsGetResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/transactions/recurring/get": {
        "post": {
          "tags": [
            "plaid",
            "transactions"
          ],
          "summary": "transactionsRecurringGet",
          "description": "The `/transactions/recurring/get` endpoint identifies and returns groups of transactions that occur on a regular basis for the inputted Item and accounts.\n\nThe product is currently in beta. To request access, contact transactions-feedback@plaid.com.",
          "operationId": "transactionsRecurringGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsRecurringGetRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransactionsRecurringGetResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/transactions/sync": {
        "post": {
          "tags": [
            "plaid",
            "transactions"
          ],
          "summary": "transactionsSync",
          "description": "The `/transactions/sync` endpoint returns item transactions as a set of delta updates.\nSubsequent calls to the endpoint using the cursor returned in the response will return new added, modified, and removed transactions since the last call to the endpoint\n\nThe product is currently in beta. To request access, contact transactions-feedback@plaid.com.",
          "externalDocs": {
            "url": "/api/products/#transactionssync"
          },
          "operationId": "transactionsSync",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsSyncRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransactionsSyncResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/transactions/refresh": {
        "post": {
          "tags": [
            "plaid",
            "transactions"
          ],
          "summary": "transactionsRefresh",
          "description": "`/transactions/refresh` is an optional endpoint for users of the Transactions product. It initiates an on-demand extraction to fetch the newest transactions for an Item. This on-demand extraction takes place in addition to the periodic extractions that automatically occur multiple times a day for any Transactions-enabled Item. If changes to transactions are discovered after calling `/transactions/refresh`, Plaid will fire a webhook: [`TRANSACTIONS_REMOVED`](https://plaid.com/docs/api/webhooks#deleted-transactions-detected) will be fired if any removed transactions are detected, and [`DEFAULT_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-default_update) will be fired if any new transactions are detected. New transactions can be fetched by calling `/transactions/get`.\n\nAccess to `/transactions/refresh` in Production is specific to certain pricing plans. If you cannot access `/transactions/refresh` in Production, [contact Sales](https://www.plaid.com/contact) for assistance.",
          "externalDocs": {
            "url": "/api/products/#transactionsrefresh"
          },
          "operationId": "transactionsRefresh",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsRefreshRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransactionsRefreshResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/categories/get": {
        "post": {
          "tags": [
            "plaid",
            "categories"
          ],
          "summary": "categoriesGet",
          "description": "Send a request to the `/categories/get` endpoint to get detailed information on categories returned by Plaid. This endpoint does not require authentication.",
          "externalDocs": {
            "url": "/api/products/#categoriesget"
          },
          "operationId": "categoriesGet",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "contentMediaType": "application/json"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "success",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoriesGetResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "security": []
        },
        "parameters": []
      },
      "/signal/evaluate": {
        "post": {
          "tags": [
            "plaid",
            "signal"
          ],
          "summary": "signalEvaluate",
          "description": "Use `/signal/evaluate` to evaluate a planned ACH transaction to get a return risk assessment (such as a risk score and risk tier) and additional risk signals.\n\nIn order to obtain a valid score for an ACH transaction, Plaid must have an access token for the account, and the Item must be healthy (receiving product updates) or have recently been in a healthy state. If the transaction does not meet eligibility requirements, an error will be returned corresponding to the underlying cause. If `/signal/evaluate` is called on the same transaction multiple times within a 24-hour period, cached results may be returned.",
          "externalDocs": {
            "url": "/signal/reference#signalevaluate"
          },
          "operationId": "signalEvaluate",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignalEvaluateRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SignalEvaluateResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/signal/decision/report": {
        "post": {
          "tags": [
            "plaid",
            "signal"
          ],
          "summary": "signalDecisionReport",
          "description": "After calling `/signal/evaluate`, call `/signal/decision/report` to report whether the transaction was initiated. This endpoint will return an `INVALID_REQUEST` error if called a second time with a different value for `initiated`.",
          "externalDocs": {
            "url": "/signal/reference#signaldecisionreport"
          },
          "operationId": "signalDecisionReport",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignalDecisionReportRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SignalDecisionReportResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      },
      "/signal/return/report": {
        "post": {
          "tags": [
            "plaid",
            "signal"
          ],
          "summary": "signalReturnReport",
          "description": "Call the `/signal/return/report` endpoint to report a returned transaction that was previously sent to the `/signal/evaluate` endpoint. Your feedback will be used by the model to incorporate the latest risk trend in your portfolio.",
          "externalDocs": {
            "url": "/signal/reference#signalreturnreport"
          },
          "operationId": "signalReturnReport",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignalReturnReportRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SignalReturnReportResponse"
                  }
                }
              }
            },
            "default": {
              "description": "Error response.",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "parameters": []
      }
    },
    "components": {
      "schemas": {
        "ItemGetRequest": {
          "title": "ItemGetRequest",
          "required": [
            "access_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            }
          },
          "description": "ItemGetRequest defines the request schema for `/item/get`"
        },
        "ItemGetResponse": {
          "title": "ItemGetResponse",
          "required": [
            "item",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "item": {
              "$ref": "#/components/schemas/Item"
            },
            "status": {
              "$ref": "#/components/schemas/ItemStatusNullable"
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "ItemGetResponse defines the response schema for `/item/get` and `/item/webhook/update`"
        },
        "AuthGetRequest": {
          "title": "AuthGetRequest",
          "required": [
            "access_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            },
            "options": {
              "$ref": "#/components/schemas/AuthGetRequestOptions"
            }
          },
          "description": "AuthGetRequest defines the request schema for `/auth/get`"
        },
        "AuthGetRequestOptions": {
          "title": "AuthGetRequestOptions",
          "type": "object",
          "properties": {
            "account_ids": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of `account_ids` to retrieve for the Item.\nNote: An error will be returned if a provided `account_id` is not associated with the Item."
            }
          },
          "description": "An optional object to filter `/auth/get` results."
        },
        "AuthGetResponse": {
          "title": "AuthGetResponse",
          "required": [
            "accounts",
            "numbers",
            "item",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "accounts": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Account"
              },
              "description": "The `accounts` for which numbers are being retrieved."
            },
            "numbers": {
              "$ref": "#/components/schemas/AuthGetNumbers"
            },
            "item": {
              "$ref": "#/components/schemas/Item"
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "AuthGetResponse defines the response schema for `/auth/get`"
        },
        "AuthGetNumbers": {
          "title": "AuthGetNumbers",
          "required": [
            "ach"
          ],
          "type": "object",
          "properties": {
            "ach": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/NumbersACH"
              },
              "description": "An array of ACH numbers identifying accounts."
            }
          },
          "description": "An object containing identifying numbers used for making electronic transfers to and from the `accounts`. The identifying number type (ACH, EFT, IBAN, or BACS) used will depend on the country of the account. An account may have more than one number type. If a particular identifying number type is not used by any `accounts` for which data has been requested, the array for that type will be empty."
        },
        "TransactionsGetRequest": {
          "title": "TransactionsGetRequest",
          "required": [
            "access_token",
            "start_date",
            "end_date"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "options": {
              "$ref": "#/components/schemas/TransactionsGetRequestOptions"
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "start_date": {
              "type": "string",
              "description": "The earliest date for which data should be returned. Dates should be formatted as YYYY-MM-DD.",
              "contentEncoding": "date"
            },
            "end_date": {
              "type": "string",
              "description": "The latest date for which data should be returned. Dates should be formatted as YYYY-MM-DD.",
              "contentEncoding": "date"
            }
          },
          "description": "TransactionsGetRequest defines the request schema for `/transactions/get`"
        },
        "TransactionsGetRequestOptions": {
          "title": "TransactionsGetRequestOptions",
          "type": "object",
          "properties": {
            "account_ids": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of `account_ids` to retrieve for the Item\n\nNote: An error will be returned if a provided `account_id` is not associated with the Item."
            },
            "count": {
              "maximum": 500.0,
              "minimum": 1.0,
              "type": "integer",
              "description": "The number of transactions to fetch.",
              "contentEncoding": "int32",
              "default": 100
            },
            "offset": {
              "minimum": 0.0,
              "type": "integer",
              "description": "The number of transactions to skip. The default value is 0.",
              "contentEncoding": "int32",
              "default": 0
            },
            "include_original_description": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Include the raw unparsed transaction description from the financial institution. This field is disabled by default. If you need this information in addition to the parsed data provided, contact your Plaid Account Manager.",
              "default": false
            },
            "include_personal_finance_category_beta": {
              "type": "boolean",
              "description": "Include the `personal_finance_category` object in the response. This feature is currently in beta – to request access, contact transactions-feedback@plaid.com.",
              "default": false
            }
          },
          "description": "An optional object to be used with the request. If specified, `options` must not be `null`."
        },
        "TransactionsGetResponse": {
          "title": "TransactionsGetResponse",
          "required": [
            "accounts",
            "transactions",
            "total_transactions",
            "item",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "accounts": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Account"
              },
              "description": "An array containing the `accounts` associated with the Item for which transactions are being returned. Each transaction can be mapped to its corresponding account via the `account_id` field."
            },
            "transactions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Transaction"
              },
              "description": "An array containing transactions from the account. Transactions are returned in reverse chronological order, with the most recent at the beginning of the array. The maximum number of transactions returned is determined by the `count` parameter."
            },
            "total_transactions": {
              "type": "integer",
              "description": "The total number of transactions available within the date range specified. If `total_transactions` is larger than the size of the `transactions` array, more transactions are available and can be fetched via manipulating the `offset` parameter.",
              "contentEncoding": "int32"
            },
            "item": {
              "$ref": "#/components/schemas/Item"
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "TransactionsGetResponse defines the response schema for `/transactions/get`"
        },
        "TransactionsRefreshRequest": {
          "title": "TransactionsRefreshRequest",
          "required": [
            "access_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            }
          },
          "description": "TransactionsRefreshRequest defines the request schema for `/transactions/refresh`"
        },
        "TransactionsRefreshResponse": {
          "title": "TransactionsRefreshResponse",
          "required": [
            "request_id"
          ],
          "type": "object",
          "properties": {
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "TransactionsRefreshResponse defines the response schema for `/transactions/refresh`"
        },
        "TransactionsRecurringGetRequest": {
          "title": "TransactionsRecurringGetRequest",
          "required": [
            "access_token",
            "account_ids"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "account_ids": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of `account_ids` to retrieve for the Item\n\nNote: An error will be returned if a provided `account_id` is not associated with the Item."
            }
          },
          "description": "TransactionsRecurringGetRequest defines the request schema for `/transactions/recurring/get`"
        },
        "TransactionsRecurringGetResponse": {
          "title": "TransactionsRecurringGetResponse",
          "required": [
            "inflow_streams",
            "outflow_streams",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "inflow_streams": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TransactionStream"
              },
              "description": "An array of depository transaction streams."
            },
            "outflow_streams": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TransactionStream"
              },
              "description": "An array of expense transaction streams."
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "TransactionsRecurringGetResponse defines the response schema for `/transactions/recurring/get`"
        },
        "TransactionsSyncRequest": {
          "title": "TransactionsSyncRequest",
          "required": [
            "access_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "cursor": {
              "type": "string",
              "description": "The cursor value represents the last update requested. Providing it will cause the response to only return changes after this update.\nIf omitted, the entire history of updates will be returned, starting with the first-added transactions on the item.\nNote: The upper-bound length of this cursor is 256 characters of base64."
            },
            "count": {
              "maximum": 500.0,
              "minimum": 1.0,
              "type": "integer",
              "description": "The number of transaction updates to fetch.",
              "contentEncoding": "int32",
              "default": 100
            }
          },
          "description": "TransactionsSyncRequest defines the request schema for `/transactions/sync`"
        },
        "TransactionsSyncResponse": {
          "title": "TransactionsSyncResponse",
          "required": [
            "added",
            "modified",
            "removed",
            "next_cursor",
            "has_more",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "added": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Transaction"
              },
              "description": "Transactions that have been added to the item since `cursor` ordered by ascending last modified time."
            },
            "modified": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Transaction"
              },
              "description": "Transactions that have been modified on the item since `cursor` ordered by ascending last modified time."
            },
            "removed": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RemovedTransaction"
              },
              "description": "Transactions that have been removed from the item since `cursor` ordered by ascending last modified time."
            },
            "next_cursor": {
              "type": "string",
              "description": "Cursor used for fetching any future updates after the latest update provided in this response."
            },
            "has_more": {
              "type": "boolean",
              "description": "Represents if more than requested count of transaction updates exist. If true, the additional updates can be fetched by making an additional request with `cursor` set to `next_cursor`."
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "TransactionsSyncResponse defines the response schema for `/transactions/sync`"
        },
        "InstitutionsGetRequest": {
          "title": "InstitutionsGetRequest",
          "required": [
            "count",
            "offset",
            "country_codes"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "count": {
              "maximum": 500.0,
              "type": "integer",
              "description": "The total number of Institutions to return.",
              "contentEncoding": "int32"
            },
            "offset": {
              "type": "integer",
              "description": "The number of Institutions to skip.",
              "contentEncoding": "int32"
            },
            "country_codes": {
              "minItems": 1,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CountryCode"
              },
              "description": "Specify an array of Plaid-supported country codes this institution supports, using the ISO-3166-1 alpha-2 country code standard. \n\nIn API versions 2019-05-29 and earlier, the `country_codes` parameter is an optional parameter within the `options` object and will default to `[US]` if it is not supplied."
            },
            "options": {
              "$ref": "#/components/schemas/InstitutionsGetRequestOptions"
            }
          },
          "description": "InstitutionsGetRequest defines the request schema for `/institutions/get`"
        },
        "InstitutionsGetRequestOptions": {
          "title": "InstitutionsGetRequestOptions",
          "type": "object",
          "properties": {
            "products": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Products"
              },
              "description": "Filter the Institutions based on which products they support."
            },
            "routing_numbers": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Specify an array of routing numbers to filter institutions. The response will only return institutions that match all of the routing numbers in the array. Routing number records used for this matching are not comprehensive; failure to match a given routing number to an institution does not mean that the institution is unsupported by Plaid."
            },
            "oauth": {
              "type": "boolean",
              "description": "Limit results to institutions with or without OAuth login flows. This is primarily relevant to institutions with European country codes."
            },
            "include_optional_metadata": {
              "type": "boolean",
              "description": "When `true`, return the institution's homepage URL, logo and primary brand color.\n\nNote that Plaid does not own any of the logos shared by the API, and that by accessing or using these logos, you agree that you are doing so at your own risk and will, if necessary, obtain all required permissions from the appropriate rights holders and adhere to any applicable usage guidelines. Plaid disclaims all express or implied warranties with respect to the logos."
            },
            "include_auth_metadata": {
              "type": "boolean",
              "description": "When `true`, returns metadata related to the Auth product indicating which auth methods are supported.",
              "default": false
            },
            "include_payment_initiation_metadata": {
              "type": "boolean",
              "description": "When `true`, returns metadata related to the Payment Initiation product indicating which payment configurations are supported.",
              "default": false
            }
          },
          "description": "An optional object to filter `/institutions/get` results."
        },
        "InstitutionsGetResponse": {
          "title": "InstitutionsGetResponse",
          "required": [
            "institutions",
            "total",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "institutions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Institution"
              },
              "description": "A list of Plaid Institution"
            },
            "total": {
              "type": "integer",
              "description": "The total number of institutions available via this endpoint",
              "contentEncoding": "int32"
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "InstitutionsGetResponse defines the response schema for `/institutions/get`"
        },
        "InstitutionsSearchRequest": {
          "title": "InstitutionsSearchRequest",
          "required": [
            "query",
            "products",
            "country_codes"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "query": {
              "type": "string",
              "description": "The search query. Institutions with names matching the query are returned"
            },
            "products": {
              "minItems": 1,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Products"
              },
              "description": "Filter the Institutions based on whether they support all products listed in `products`. Provide `null` to get institutions regardless of supported products. Note that when `auth` is specified as a product, if you are enabled for Instant Match or Automated Micro-deposits, institutions that support those products will be returned even if `auth` is not present in their product array."
            },
            "country_codes": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CountryCode"
              },
              "description": "Specify an array of Plaid-supported country codes this institution supports, using the ISO-3166-1 alpha-2 country code standard. In API versions 2019-05-29 and earlier, the `country_codes` parameter is an optional parameter within the `options` object and will default to `[US]` if it is not supplied."
            },
            "options": {
              "$ref": "#/components/schemas/InstitutionsSearchRequestOptions"
            }
          },
          "description": "InstitutionsSearchRequest defines the request schema for `/institutions/search`"
        },
        "InstitutionsSearchRequestOptions": {
          "title": "InstitutionsSearchRequestOptions",
          "type": "object",
          "properties": {
            "oauth": {
              "type": "boolean",
              "description": "Limit results to institutions with or without OAuth login flows. This is primarily relevant to institutions with European country codes"
            },
            "include_optional_metadata": {
              "type": "boolean",
              "description": "When true, return the institution's homepage URL, logo and primary brand color."
            },
            "include_auth_metadata": {
              "type": "boolean",
              "description": "When `true`, returns metadata related to the Auth product indicating which auth methods are supported.",
              "default": false
            },
            "include_payment_initiation_metadata": {
              "type": "boolean",
              "description": "When `true`, returns metadata related to the Payment Initiation product indicating which payment configurations are supported.",
              "default": false
            },
            "payment_initiation": {
              "$ref": "#/components/schemas/InstitutionsSearchPaymentInitiationOptions"
            }
          },
          "description": "An optional object to filter `/institutions/search` results."
        },
        "InstitutionsSearchPaymentInitiationOptions": {
          "title": "InstitutionsSearchPaymentInitiationOptions",
          "type": "object",
          "properties": {
            "payment_id": {
              "type": "string",
              "description": "A unique ID identifying the payment"
            }
          },
          "description": "Additional options that will be used to filter institutions by various Payment Initiation configurations."
        },
        "InstitutionsSearchResponse": {
          "title": "InstitutionsSearchResponse",
          "required": [
            "institutions",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "institutions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Institution"
              },
              "description": "An array of institutions matching the search criteria"
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "InstitutionsSearchResponse defines the response schema for `/institutions/search`"
        },
        "InstitutionsGetByIdRequest": {
          "title": "InstitutionsGetByIdRequest",
          "required": [
            "institution_id",
            "country_codes"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "institution_id": {
              "type": "string",
              "description": "The ID of the institution to get details about"
            },
            "country_codes": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CountryCode"
              },
              "description": "Specify an array of Plaid-supported country codes this institution supports, using the ISO-3166-1 alpha-2 country code standard. In API versions 2019-05-29 and earlier, the `country_codes` parameter is an optional parameter within the `options` object and will default to `[US]` if it is not supplied."
            },
            "options": {
              "$ref": "#/components/schemas/InstitutionsGetByIdRequestOptions"
            }
          },
          "description": "InstitutionsGetByIdRequest defines the request schema for `/institutions/get_by_id`"
        },
        "InstitutionsGetByIdRequestOptions": {
          "title": "InstitutionsGetByIdRequestOptions",
          "type": "object",
          "properties": {
            "include_optional_metadata": {
              "type": "boolean",
              "description": "When `true`, return an institution's logo, brand color, and URL. When available, the bank's logo is returned as a base64 encoded 152x152 PNG, the brand color is in hexadecimal format. The default value is `false`.\n\nNote that Plaid does not own any of the logos shared by the API and that by accessing or using these logos, you agree that you are doing so at your own risk and will, if necessary, obtain all required permissions from the appropriate rights holders and adhere to any applicable usage guidelines. Plaid disclaims all express or implied warranties with respect to the logos.",
              "default": false
            },
            "include_status": {
              "type": "boolean",
              "description": "If `true`, the response will include status information about the institution. Default value is `false`.",
              "default": false
            },
            "include_auth_metadata": {
              "type": "boolean",
              "description": "When `true`, returns metadata related to the Auth product indicating which auth methods are supported.",
              "default": false
            },
            "include_payment_initiation_metadata": {
              "type": "boolean",
              "description": "When `true`, returns metadata related to the Payment Initiation product indicating which payment configurations are supported.",
              "default": false
            }
          },
          "description": "Specifies optional parameters for `/institutions/get_by_id`. If provided, must not be `null`."
        },
        "InstitutionsGetByIdResponse": {
          "title": "InstitutionsGetByIdResponse",
          "required": [
            "institution",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "institution": {
              "$ref": "#/components/schemas/Institution"
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "InstitutionsGetByIdResponse defines the response schema for `/institutions/get_by_id`"
        },
        "ItemRemoveRequest": {
          "title": "ItemRemoveRequest",
          "required": [
            "access_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            }
          },
          "description": "ItemRemoveRequest defines the request schema for `/item/remove`"
        },
        "ItemRemoveResponse": {
          "title": "ItemRemoveResponse",
          "required": [
            "request_id"
          ],
          "type": "object",
          "properties": {
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "ItemRemoveResponse defines the response schema for `/item/remove`"
        },
        "AccountsGetRequest": {
          "title": "AccountsGetRequest",
          "required": [
            "access_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            },
            "options": {
              "$ref": "#/components/schemas/AccountsGetRequestOptions"
            }
          },
          "description": "AccountsGetRequest defines the request schema for `/accounts/get`"
        },
        "AccountsGetRequestOptions": {
          "title": "AccountsGetRequestOptions",
          "type": "object",
          "properties": {
            "account_ids": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "An array of `account_ids` to retrieve for the Account."
            }
          },
          "description": "An optional object to filter `/accounts/get` results."
        },
        "AccountsGetResponse": {
          "title": "AccountsGetResponse",
          "required": [
            "accounts",
            "item",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "accounts": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Account"
              },
              "description": "An array of financial institution accounts associated with the Item.\nIf `/accounts/balance/get` was called, each account will include real-time balance information."
            },
            "item": {
              "$ref": "#/components/schemas/Item"
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "AccountsGetResponse defines the response schema for `/accounts/get` and `/accounts/balance/get`."
        },
        "CategoriesGetResponse": {
          "title": "CategoriesGetResponse",
          "required": [
            "categories",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "categories": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Category"
              },
              "description": "An array of all of the transaction categories used by Plaid."
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "CategoriesGetResponse defines the response schema for `/categories/get`"
        },
        "AccountsBalanceGetRequest": {
          "title": "AccountsBalanceGetRequest",
          "required": [
            "access_token"
          ],
          "type": "object",
          "properties": {
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "options": {
              "$ref": "#/components/schemas/AccountsBalanceGetRequestOptions"
            }
          },
          "description": "AccountsBalanceGetRequest defines the request schema for `/accounts/balance/get`"
        },
        "AccountsBalanceGetRequestOptions": {
          "title": "AccountsBalanceGetRequestOptions",
          "type": "object",
          "properties": {
            "account_ids": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of `account_ids` to retrieve for the Item. The default value is `null`.\n\nNote: An error will be returned if a provided `account_id` is not associated with the Item."
            },
            "min_last_updated_datetime": {
              "type": "string",
              "description": "Timestamp in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:mm:ssZ`) indicating the oldest acceptable balance when making a request to `/accounts/balance/get`.\n\nIf the balance that is pulled for `ins_128026` (Capital One) is older than the given timestamp, an `INVALID_REQUEST` error with the code of `LAST_UPDATED_DATETIME_OUT_OF_RANGE` will be returned with the most recent timestamp for the requested account contained in the response.\n\nThis field is only used when the institution is `ins_128026` (Capital One), in which case a value must be provided or an `INVALID_REQUEST` error with the code of `INVALID_FIELD` will be returned. For all other institutions, this field is ignored.",
              "contentEncoding": "date-time"
            }
          },
          "description": "An optional object to filter `/accounts/balance/get` results."
        },
        "IdentityGetRequest": {
          "title": "IdentityGetRequest",
          "required": [
            "access_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "access_token": {
              "type": "string",
              "description": "The access token associated with the Item data is being requested for."
            },
            "options": {
              "$ref": "#/components/schemas/IdentityGetRequestOptions"
            }
          },
          "description": "IdentityGetRequest defines the request schema for `/identity/get`"
        },
        "IdentityGetRequestOptions": {
          "title": "IdentityGetRequestOptions",
          "type": "object",
          "properties": {
            "account_ids": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of `account_ids` to retrieve for the Item.\nNote: An error will be returned if a provided `account_id` is not associated with the Item."
            }
          },
          "description": "An optional object to filter `/identity/get` results."
        },
        "IdentityGetResponse": {
          "title": "IdentityGetResponse",
          "required": [
            "accounts",
            "item",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "accounts": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AccountIdentity"
              },
              "description": "The accounts for which Identity data has been requested"
            },
            "item": {
              "$ref": "#/components/schemas/Item"
            },
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            }
          },
          "description": "IdentityGetResponse defines the response schema for `/identity/get`"
        },
        "ProcessorAuthGetRequest": {
          "title": "ProcessorAuthGetRequest",
          "required": [
            "processor_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "processor_token": {
              "type": "string",
              "description": "The processor token obtained from the Plaid integration partner. Processor tokens are in the format: `processor-<environment>-<identifier>`"
            }
          },
          "description": "ProcessorAuthGetRequest defines the request schema for `/processor/auth/get`"
        },
        "ProcessorAuthGetResponse": {
          "title": "ProcessorAuthGetResponse",
          "required": [
            "request_id",
            "numbers",
            "account"
          ],
          "type": "object",
          "properties": {
            "request_id": {
              "type": "string",
              "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
            },
            "numbers": {
              "$ref": "#/components/schemas/ProcessorNumber"
            },
            "account": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "description": "ProcessorAuthGetResponse defines the response schema for `/processor/auth/get`"
        },
        "ProcessorNumber": {
          "title": "ProcessorNumber",
          "type": "object",
          "properties": {
            "ach": {
              "$ref": "#/components/schemas/NumbersACHNullable"
            }
          },
          "description": "An object containing identifying numbers used for making electronic transfers to and from the `account`. The identifying number type (ACH, EFT, IBAN, or BACS) used will depend on the country of the account. An account may have more than one number type. If a particular identifying number type is not used by the `account` for which auth data has been requested, a null value will be returned."
        },
        "ProcessorIdentityGetRequest": {
          "title": "ProcessorIdentityGetRequest",
          "required": [
            "processor_token"
          ],
          "type": "object",
          "properties": {
            "client_id": {
              "type": "string",
              "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body.",
              "default": "5fd43aad1186c30013d6f3e2"
            },
            "secret": {
              "type": "string",
              "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
            },
            "processor_token": {
              "type": "string",
              "description": "The processor token obtained from the Plaid integration partner. Processor tokens are in the format: `processor-<environment>-<identifier>`"
            }
          },
          "description": "ProcessorIdentityGetRequest defines the request schema for `/processor/identity/get`"
        },
        "ProcessorIdentityGetResponse": {
          "title": "ProcessorIdentityGetResponse",
          "required": [
            "account",
            "request_id"
          ],
          "type": "object",
          "properties": {
            "account": {
[...]
